{% extends "base.html" %}

{% block styles %}
{% endblock %}

{% block content %}
<style>
#items li{min-height: 40px;}
#items {padding-top: 10px;}
#items form *{margin-right: 5px;}
#cover-preview {width: 100%; max-width: 360px;}
#cover-preview img {width: 100%;}
#video-preview {max-width: 640px;}
</style>
<h2>새 펀딩 만들기</h2>
<form id="petition_form">
    {{ form.csrf_token }}
    <div class="form-group">
        <label>{{form.title.label}}</label>
        {{form.title(class="form-control")}}
    </div>
    <div class="form-group">
        <label>{{form.summary.label}}</label>
        {{form.summary(class="form-control")}}
    </div>
    <div class="form-group">
        <label>{{form.cover_link.label}}</label>
        <label class="text-muted small">상품 또는 기념일과 관련된 커버 사진을 넣어주세요</label>
        {{form.cover_link(class="form-control")}}
    </div>
    <div id="cover-preview"></div>
    <div class="form-group">
        <label>{{form.video_link.label}}</label>
        <label class="text-muted small">상품의 소개 동영상이나 친구들에게 보내는 영상편지를 넣어주세요!</label>
        {{form.video_link(class="form-control")}}
        <label for="aspect-ratio"> 동영상 화면비</label>
        <label class="radio-inline">
            <input type="radio" name="aspect-ratio" id="aspect-ratio-1" value="16by9" checked="checked"> 16:9
        </label>
        <label class="radio-inline">
            <input type="radio" name="aspect-ratio" id="aspect-ratio-1" value="4by3"> 4:3
        </label>
    </div>
    <div id="video-preview"></div>
    <div class="form-group">
        <label>{{form.content.label}}</label>
        <label class="text-muted small">상품의 정보와 사진, 펀딩을 받을 방법, 친구들에게 어떻게 보답할지 등을 적어주세요</label>
        {{form.content(class="form-control", rows=5)}}
    </div>

    <button class="btn btn-success" type="button" onclick="add_item_input()"><i class='fa fa-plus'></i> 추가</button>
    <ul class="list-unstyled" id="items">
    </ul>
    <button class="btn btn-primary" type="button" onclick="submit_form()">등록</button>
</form>
{% endblock %}

{% block scripts %}
<script src="//cdn.ckeditor.com/4.5.4/standard/ckeditor.js"></script>
<script type="text/javascript">
function add_item_input() {
    var html = 
        "<li><form class='form-inline'>" +
        "<div class='form-group'><label>상품명</label>" +
        "<input class='form-control' type='text' name='item_name'></input></div>" +
        "<div class='form-group'><label>가격</label>" +
        "<div class='input-group'><div class='input-group-addon'>&#8361;</div>" +
        "<input class='form-control' type='number' name='item_price'></input></div></div>" +
        "<div class='form-group'><label>추천 펀딩 금액</label>" +
        "<div class='input-group'><div class='input-group-addon'>&#8361;</div>" +
        "<input class='form-control' type='number' name='recommended_fund'></input></div></div>" +
        "<button class='btn btn-danger' type='button' onclick='remove_item(this);'>" + 
        "<i class='fa fa-times'></i>" +
        "</button></li>";
    $("#items").append(html);
}

function remove_item(obj) {
    console.log(obj);
    $(obj).parent().parent().remove();
}


function submit_form() {
    var title = $("#title").val();
    var summary = $("#summary").val();
    var content = CKEDITOR.instances.content.getData();
    var video_link = $("#video_link").val();
    if(video_link && video_link !== '') {
        video_link = $("input[name=aspect-ratio]:checked").val() + "|" + video_link.trim();
    }
    var cover_link = $("#cover_link").val();
    if (!title || title.trim() === "") {
        alert("제목을 입력해주세요.");
        return;
    }
    if (!summary || summary.trim() === "") {
        alert("펀딩의 간단한 설명을 입력해주세요.");
        return;
    }
    if (!content || content.trim() === "") {
        alert("내용을 입력해주세요.");
    }
    var items = [];
    var flag = true
    $("#items li").each(function(i, e) {
        var price = $(e).find("input[name=item_price]").val();
        var recommended_fund = $(e).find("input[name=recommended_fund]").val() || '0';
        var description = $(e).find("input[type=text]").val();
        if (!description || description.trim() === "") return true;
        if (!price || price.trim() === "") {
            alert(description + "의 가격을 입력해주세요.");
            flag = false;
            return false;
        }
        if (price < 0) {
            alert(description + "의 가격은 음수일 수 없습니다!");
            flag = false;
            return false;
        }
        if (recommended_fund < 0) {
            alert(description + "의 추천 펀딩은 음수일 수 없습니다!");
            flag = false;
            return false;
        }
        items.push(price + "|" + recommended_fund + "|" + description);
    });

    if(!flag) return;
    if(items.length === 0) {
        alert("최소 한 개의 상품을 입력해주세요.");
        return;
    }

    $.ajax({
        type: "POST",
        url: "/api/petition",
        data: {
            title: title,
            summary: summary,
            content: content,
            items: items,
            cover_link: cover_link,
            video_link: video_link
        },
        success: function(data) {
            console.log(data);
            location.href = "/petition/" + data.id;
        },
        error: function() {
            alert("Error occured while creating petition.");
        }
    });
}

add_item_input();
CKEDITOR.replace("content");

$("#video_link").change(function() {
    var ratio = $("input[name=aspect-ratio]:checked").val();
    var video_link = $("#video_link").val().replace(/</g,'%3C').replace(/>/g,'%3E').replace(/ /g,'%20').replace(/\"/g,'%22');
    if(!video_link || video_link === '') return;
    var html = '<div class="embed-responsive embed-responsive-' + ratio + '">' +
        '<iframe class="embed-responsive-item" src="' + video_link + '"></iframe>' +
        '</div>';
    $("#video-preview").html(html);
});

$("input[name=aspect-ratio]").change(function() {
    var ratio = $("input[name=aspect-ratio]:checked").val();
    var video_link = $("#video_link").val().replace(/</g,'%3C').replace(/>/g,'%3E').replace(/ /g,'%20').replace(/\"/g,'%22');
    if(!video_link || video_link === '') return;
    var html = '<div class="embed-responsive embed-responsive-' + ratio + '">' +
        '<iframe class="embed-responsive-item" src="' + video_link + '"></iframe>' +
        '</div>';
    $("#video-preview").html(html);
});

$("#cover_link").change(function() {
    var cover_link = $("#cover_link").val().replace(/</g,'%3C').replace(/>/g,'%3E').replace(/ /g,'%20').replace(/\"/g,'%22');
    if(!cover_link || cover_link === '') return;
    var html = '<img src="' + cover_link + '">';
    $("#cover-preview").html(html);

});

</script>
{% endblock %}