{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="/static/bootstrap-social.css">
{% endblock %}

{% block content %}

<div class="page-header" id="login_info">
    <h1>Hello, {{session.user_name}}!</h1>
    <a class="btn btn-primary btn-xs" href="/logout">Logout</a>
</div>

<h3>내 펀딩</h3>
<ul id="petitions">
{% for petition in petitions %}
    <li><a href="/petition/{{petition.id}}">{{petition.title}}</a> <small style="color:#888;">{{petition.timestamp.strftime("%m/%d %H:%M")}}</small></li>
{% endfor %}
</ul>
<a class="btn btn-success" href="/petition/create">새 펀딩 만들기..</a>

<h3>친구들의 펀딩</h3>
<div class="row">
    {% for friend, petitions in friend_petitions %}
    {% if (petitions|length) > 0 %}
    {% for petition in petitions %}
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <a href="/petition/{{petition.id}}" class="thumbnail">
                    <img src="{{petition.cover_link or '/static/images/cover_default.jpg'}}">
                </a>
                <div class="caption">
                    <h3>{{petition.title}}</h3>
                    <p class="text-muted small">by {{petition.author.name}}</p>
                    <p>{{petition.ummary}}</p>
                </div>
          </div>
        </div>
    {% endfor %}
    {% endif %}
{% endfor %}
</div>

{% endblock %}