{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="/static/bootstrap-social.css">
{% endblock %}

{% block content %}

<div class="page-header" id="login_info">
    <h1>Hello, {{session.user_name}}!</h1>
    <p><span style="font-size:70%;color:#aaa;">{{session.user_id}}</span><p>
    <a class="btn btn-primary btn-xs" href="/logout">Logout</a>
</div>

<h3>내 펀딩</h3>
<ul id="petitions">
{% for petition in petitions %}
    <li><a href="/petition/{{petition.id}}">{{petition.title}}</a> <small style="color:#888;">{{petition.timestamp.strftime("%m/%d %H:%M")}}</small></li>
{% endfor %}
</ul>
<a class="btn btn-success" href="/petition/create">새 펀딩 만들기..</a>

<h3>친구들의 펀딩</h3>
{% for friend, petitions in friend_petitions %}
    {% if petitions.length > 0 %}
    <h4>{{friend.name}}</h4>
    <ul>
    {% for petition in petitions %}
        <li><a href="/petition/{{petition.id}}">{{petition.title}}</a> <small style="color:#888;">{{petition.timestamp.strftime("%m/%d %H:%M")}}</small></li>
    {% endfor %}
    </ul>
    {% endif %}
{% endfor %}


{% endblock %}