{% extends "base.html" %}

{% block content %}
<h2>{{petition.title}} <small>by <a href='/user/{{petition.author.id}}'>{{petition.author.name}}</a> on {{petition.timestamp.strftime('%Y.%m.%d')}}</small></h2>
<div>{{petition.content}}</div>
<style>
#item-list ul{margin-bottom: 10px;}
#item-list .progress {max-width:500px;}
</style>
<h4>구매 목록</h4>
<ul id="item-list">
{% for item in petition.items %}
<li>
    {% if item.current_fund < item.target_fund %}
    <form class="form-inline">
        <div class="form-group">
            <label>{{item.description}} ({{item.current_fund}}/{{item.target_fund}})</label>
            <input style="width:110px" class="form-control" type="number"></input>
        </div>
        <button class="btn btn-default" type="button" onclick='fund("{{item.id}}",this)'>펀딩</button>
    </form>
    {% else %}
    <label><strong>{{item.description}} ({{item.current_fund}}/{{item.target_fund}})</strong> <span class="text-success"><i class='fa fa-check'></i>완료!</span></label>
    {% endif %}
    <div class="progress">
        <div class="progress-bar progress-bar-success" style="width: {{item.current_fund*100/item.target_fund}}%;">
            {{(item.current_fund*100/item.target_fund) | round }}%
        </div>
        {% if item.pending_fund != 0 %}
        <div class="progress-bar progress-bar-warning progress-bar-striped active" style="width: {{item.pending_fund*100/item.target_fund}}%;">
            {{(item.pending_fund*100/item.target_fund) | round }}%
        </div>
        {% endif %}
    </div>
    <ul>
    {% for donation in item.donations %}
        {% if donation.pending %}
            <li>
                <span class='text-muted'>{{donation.balance}} by <a class='text-muted' href='/user/{{donation.user.id}}'>{{donation.user.name}}</a> (대기중)</span>
                {% if current_user.id == petition.author.id %}
                <a href="#" onclick="approve_fund({{loop.index0}},{{donation.balance}},'{{donation.user.id}}','{{item.id}}')"><i class='fa fa-check'></i></a>
                {% endif %}
                {% if current_user.id == donation.user.id %}
                <a href="#" onclick="remove_fund({{loop.index0}},{{donation.balance}},'{{donation.user.id}}','{{item.id}}')"><i class='fa fa-times'></i></a>
                {% endif %}
            </li>
        {% else %}
            <li>
                <span class='text-success'>{{donation.balance}} by <a class='text-success'  href='/user/{{donation.user.id}}'>{{donation.user.name}}</a> ({{donation.timestamp.strftime("%m/%d %H:%M")}})</span>
                {% if current_user.id == petition.author.id %}
                <a href="#" onclick="approve_fund({{loop.index0}},{{donation.balance}},'{{donation.user.id}}','{{item.id}}',true)"><i class='fa fa-undo'></i></a>
                {% endif %}
                {% if current_user.id == donation.user.id %}
                <a href="#" onclick="remove_fund({{loop.index0}},{{donation.balance}},'{{donation.user.id}}','{{item.id}}')"><i class='fa fa-times'></i></a>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
    </ul>
</li>
{% endfor %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
function fund(uid, obj) {
    var balance = $(obj).parent().find("input").val();

    $.ajax({
        type: 'PUT',
        url: '/api/item/' + uid + '/fund',
        data: {
            balance: balance
        },
        success: function(data) {

            location.reload();
        },
        error: function() {
            alert("Error occured while funding");
        }
    });
}

function approve_fund(index, balance, user_id, item_id, cancel) {
    cancel = cancel || false;
    var r = false;
    
    if(!cancel) r = confirm("이 펀딩을 받으셨습니까?");
    else r = confirm("이 펀딩을 취소하시겠습니까?");

    console.log(cancel);
    if (!r) return;
    $.ajax({
        type: 'PUT',
        url: '/api/item/' + item_id + '/donation/confirm',
        data: {
            user_id: user_id,
            balance: balance,
            index: index,
            cancel: cancel
        },
        success: function(data) {
            location.reload();
        },
        error: function() {
            alert("Error occured while confirming funding");
        }
    })
}

function remove_fund(index, balance, user_id, item_id) {
    var r = confirm("이 펀딩을 지우시겠습니까?");
    if (!r) return;
    $.ajax({
        type: 'DELETE',
        url: '/api/item/' + item_id + '/donation/confirm',
        data: {
            user_id: user_id,
            balance: balance,
            index: index
        },
        success: function(data) {
            location.reload();
        },
        error: function() {
            alert("Error occured while confirming funding");
        }
    })
}
</script>
{% endblock %}