{% extends "base.html" %}



{% block content %}
<h1>{{petition.title}}</h1>
<div>{{petition.content}}</div>
<style>
#item-list ul{margin-bottom: 10px;}
#item-list .progress {max-width:500px;}
</style>
<h3>구매 목록</h3>
<ul id="item-list">
{% for item in petition.items %}
<li>
    <form class="form-inline">
        <div class="form-group">
            <label>{{item.description}} ({{item.current_fund}}/{{item.target_fund}})</label>
            <input class="form-control" type="number"></input>
        </div>
        <button class="btn btn-default" type="button" onclick='fund("{{item.id}}",this)'>fund</button>
    </form>
    <div class="progress">
        <div class="progress-bar" style="width: {{item.current_fund*100/item.target_fund}}%;">
            {{(item.current_fund*100/item.target_fund) | round }}%
        </div>
    </div>
    <ul>
    {% for donation in item.donations %}
        <li>{{donation.balance}} by {{donation.user.name}} ({{donation.timestamp.strftime("%m/%d %H:%M")}})</li>
    {% endfor %}
    </ul>
</li>
{% endfor %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
function fund(uid, obj) {
    var balance = $(obj).parent().find("input").val();

    $.ajax({
        type: 'PUT',
        url: '/api/item/' + uid + '/fund',
        data: {
            balance: balance
        },
        success: function(data) {

            location.reload();
        },
        error: function() {
            alert("Error occured while funding");
        }
    });
}
</script>
{% endblock %}